.chapternav99{
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    height: 100px;
    z-index: 9987;
    width: 100%;
    position: relative;
    overflow: hidden;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(245,245,247,0.6);
}
.chapternav-wrapper{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
    position: relative;
    height: 100%;
    z-index: 1;
}
.chapternav-item2{
    padding-bottom: 49px;
    margin: 0 34px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
}
.chapternav-item2{
    display: inline-block;
    animation: chapternav-slidein 350ms backwards;
    animation-duration: 350ms;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;
    animation-play-state: running;
    animation-name: chapternav-slidein;
    vertical-align: top;
    /* margin: 0 -.11765em; */
    white-space: nowrap;
}
.chapternav-link{
    color: #f5f5f7;
    text-decoration: none;
    display: block;
    padding: 0;
    margin-top: 3px;
    position: relative;
    z-index: 1;
}
.chapternav-item-ipadpro .chapternav-icon99{
    background-size: 41px 54px;
    background-repeat: no-repeat;
    width: 41px;
    background-image: url("https://www.apple.com/v/ipad/home/bo/images/chapternav/ipadpro_light__eksnhatoqzu6_large.svg");
}
.chapternav-icon99{
    background: center bottom no-repeat;
    display: block;
    margin: 0 auto 7px;
    height: 54px;
}
.chapternav-item-ipadair .chapternav-icon99{
    background-image: url("https://www.apple.com/v/ipad/home/bo/images/chapternav/ipadair_light__fwcr6ummn722_large.svg");
    width: 30px;
    background-size: 30px 54px;
    background-repeat: no-repeat;
}
.chapternav-item-ipad8 .chapternav-icon99{
    background-image: url("https://www.apple.com/v/ipad/home/bo/images/chapternav/ipad_light__fcshltpasu6i_large.svg");
    width: 30px;
    background-size: 30px 54px;
    background-repeat: no-repeat;
}
.chapternav-item-ipadmini .chapternav-icon99{
    background-image: url("https://www.apple.com/v/ipad/home/bo/images/chapternav/ipadmini_light__fax9y0phijyq_large.svg");
    width: 22px;
    background-size: 22px 54px;
    background-repeat: no-repeat;
}
.chapternav-item-pencil .chapternav-icon99{
    width: 3px;
    background-size: 3px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/ipad/home/bo/images/chapternav/apple_pencil_light__b56nts0623aq_large.svg");
}
.chapternav-item-accessories .chapternav-icon99{
    width: 31px;
    background-size: 31px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/ipad/home/bo/images/chapternav/ipad_acc_light__gau97p46jyye_large.svg");
}