.chapternav10{
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    height: 100px;
    z-index: 9987;
    width: 100%;
    position: relative;
    overflow: hidden;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(245,245,247,0.6);
}
.chapternav-wrapper{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
    position: relative;
    height: 100%;
    z-index: 1;
}
.chapternav-items{
    padding-bottom: 120px;
    margin: 0 34px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
}
.chapternav-item1{
    display: inline-block;
    animation: chapternav-slidein 350ms backwards;
    animation-duration: 350ms;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;
    animation-play-state: running;
    animation-name: chapternav-slidein;
    vertical-align: top;
    margin: 0 -.11765em;
    white-space: nowrap;
}
.chapternav-item1:first-child{
    margin-left: 0;
    padding-left: 4px;
}
.chapternav-link{
    color: #f5f5f7;
    text-decoration: none;
    display: block;
    padding: 0;
    margin-top: 3px;
    position: relative;
    z-index: 1;
}
.chapternav-item-macbookair .chapternav-icon9{
    width: 52px;
    height: 54px;
    background-size: 52px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/mac/home/bf/images/familybrowser/macbookair_light__fj8r9488gr6u_large.svg");
}
.chapternav-icon9{
    background: center bottom no-repeat;
    display: block;
    margin: 0 auto 7px;
    height: 54px;
}
.chapternav-item-macbookpro13 .chapternav-icon9{
    width: 51px;
    height: 54px;
    background-size: 51px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/mac/home/bf/images/familybrowser/macbook_pro_13_light__erjvypflcis2_large.svg");
}
.chapternav-item-macbookpro16 .chapternav-icon9{
    width: 58px;
    height: 54px;
    background-size: 58px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/mac/home/bf/images/familybrowser/macbook_pro_16_light__cialfoihbk02_large.svg");
}
.chapternav-item-imac24 .chapternav-icon9{
    width: 45px;
    height: 54px;
    background-size: 45px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/mac/home/bf/images/familybrowser/imac_24__e0tdvilut5qq_large.svg");
}
.chapternav-item-macmini .chapternav-icon9{
    width: 28px;
    height: 54px;
    background-size: 28px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/mac/home/bf/images/familybrowser/mac_mini_light__chxdj29efvrm_large.svg");
}
.chapternav-item-accessories2 .chapternav-icon9{
    width: 33px;
    height: 54px;
    background-size: 33px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/mac/home/bf/images/familybrowser/mac_accessories_light__bow96z0024qa_large.svg");

}
.mac_hero{
    margin-top: .8em;
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
}
.hero-imac-24-image{
    background-image: url("https://www.apple.com/v/mac/home/bf/images/overview/hero_imac_24__eq5phrdpwjyq_large_2x.jpg");
    width: 1070px;
    height: 446px;
    background-size: 1070px 446px;
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    margin-left: -535px;
    margin-top: 32px;
}
.product-name{
    align-items: center;
    text-align: center;
    margin: 0;
    color: #1d1d1f;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 500;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.hero_text{
    align-items: center;
    text-align: center;
    display: block;
    margin-bottom: .4em;
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 500;
    letter-spacing: .007em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.hero_price{
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.47059;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.product_links{
    margin-left: 690px !important;
    cursor: pointer;
    display: flex;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 980px;
    background: #777777;
    border-color: #5a5a5a;
    color: #fff;
}
.new{
    padding-top: 63px;
    box-sizing: border-box;
    white-space: nowrap;
    display: block;
    text-align: center;
    align-items: center;
    font-weight: 600;
    background: rgba(0,0,0,0);
    border-color: #bf4800;
    color: #f56300;
    font-size: 17px;
    line-height: 1.47059;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.product_links{
    background: #9e9e9e;
    border-color: #505050;
    transition: 0.5s;
}

.product_links:hover{
    /* transition: 0.5s; */
    background-color: #5a5a5a;
}