.chapternav{
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    height: 100px;
    z-index: 9987;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.90);
}
.chapternav-wrapper{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
    position: relative;
    height: 100%;
    z-index: 1;
}
.chapternav-items{
    padding-bottom: 49px;
    margin: 0 34px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
}
.chapternav-item{
    display: inline-block;
    animation: chapternav-slidein 350ms backwards;
    animation-duration: 350ms;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;
    animation-play-state: running;
    animation-name: chapternav-slidein;
    vertical-align: top;
    margin: 0 -.11765em;
    padding: 0 20px;
    white-space: nowrap;
}
.chapternav-item:first-child{
    margin-left: 0;
    padding-left: 4px;
}
.chapternav-link{
    color: #f5f5f7;
    text-decoration: none;
    display: block;
    padding: 0;
    margin-top: 3px;
    position: relative;
    z-index: 1;
}
.chapternav-item-iphone-12-pro .chapternav-icon{
    background-size: 37px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/iphone_12_pro_dark__c1xodf0hb1w2_large.svg");
    width: 37px;
}
.chapternav-icon{
    background: center bottom no-repeat;
    display: block;
    margin: 0 auto 7px;
    height: 54px;
}
.chapternav-item-iphone-12 .chapternav-icon{
    background-size: 36px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/iphone_12_dark__d7asodlag7e6_large.svg");
    width: 36px;
}
.chapternav-item-iphone-se .chapternav-icon{
    background-size: 19px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/iphone_se_dark__b1b8q1iya5o2_large.svg");
    width: 19px;
}
.chapternav-item-iphone-11 .chapternav-icon{
    background-size: 22px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/iphone_11_dark__di5n0jory1me_large.svg");
    width: 22px;
}
.chapternav-item-iphone-xr .chapternav-icon{
    background-size: 22px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/iphone_xr_dark__ft3blnh7c6q2_large.svg");
    width: 22px;
}
.chapternav-item-airpods .chapternav-icon{
background-size: 27px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/iphone_airpods_dark__7rlhc1y4jc2m_large.svg");
    width: 27px;
}
.chapternav-item-airtag .chapternav-icon{
    background-size: 30px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/airtag_dark__c6tern0u2pme_large.svg");
    width: 30px;
}
.chapternav-item-accessories .chapternav-icon{
    background-size: 35px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/iphone_acc_dark__g5kvwtvsk2qa_large.svg");
    width: 35px;
}

.body{
    background-color: black;
}
.container1{
    box-sizing: border-box;
    width: 95.83333%;
    height: 100%;
    max-width: 1380px;
    min-width: 1300px;
    max-height: 208px;
    min-height: 208px;
    object-fit: contain;
    margin-left: 50%;
    transform: translateX(-50%);
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 208.25px;
}
.gallery{
    display: block;
    width: 100%;
    height: 100%;
    max-height: 340px;
    min-height: 208.25px;
}

.lift-transition-sticky-content{
    padding-top: 100px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    position: relative;
    width: 100%;
}
.container{
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    color: white;
}
.hero-eyebrow{
    border-radius: inherit;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);
    content: "";
    display: block;
    height: inherit;
    position: absolute;
    width: inherit;
}
.btn55{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 980px;
    transform: matrix(1, 0, 0, 1, 0, -29.0047);
    opacity: 1;
    margin-top: 2rem;
    background: #707070;
    border-color: #4e4e4e;
    color: #fff;
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    width: 73px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
}

.colorss img {

    width: 32px;
    height: 32px;
    border-color: #0071e3 !important;
    /* margin-bottom: 1.33em; */
    background-color: black !important;
    margin: 0px 10px;
}
.colors img::after{
    border-radius: inherit;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);
    content: "";
    display: block;
    height: inherit;
    position: absolute;
    width: inherit;
}
.color-selector{
    margin-top: 45px;
    padding-bottom: 70px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    display: flex;
    list-style: none;
}
.colors img:hover{
    border-color: #0071e3 !important;
    border: 2px solid transparent;
    border-radius: 50%;
    /* border-radius: inherit; */
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    content: "";
    display: flex;
    /* height: inherit; */
    /* position: absolute; */
    /* width: inherit; */
    
}
.text1{
    transform: matrix(1, 0, 0, 1, 0, -1.22523);
    opacity: 1;
    margin-top: 1.58824rem;
    margin-bottom: 1.23529rem;
    text-align: center;
    text-align: center;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;

}
.text2{
    padding-top: 20px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
    margin-top: 1rem;
    text-align: center;
    color: #f5f5f7;
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.009em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    /* flex-basis: 83.33333%;
    max-width: 83.33333%; */
}
.hero-eyebrow{
    text-align: center;
    /* transform: matrix(1, 0, 0, 1, 0, 0); */
    opacity: 1;
    color: #f5f5f7;
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 600;
    letter-spacing: .011em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}