.chapternav{
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    height: 100px;
    z-index: 9987;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.90);
}
.chapternav-wrapper{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
    position: relative;
    height: 100%;
    z-index: 1;
}
.chapternav-items{
    padding-bottom: 49px;
    margin: 0 34px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
}
.chapternav-item{
    display: inline-block;
    animation: chapternav-slidein 350ms backwards;
    animation-duration: 350ms;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;
    animation-play-state: running;
    animation-name: chapternav-slidein;
    vertical-align: top;
    margin: 0 -.11765em;
    padding: 0 20px;
    white-space: nowrap;
}
.chapternav-item:first-child{
    margin-left: 0;
    padding-left: 4px;
}
.chapternav-link{
    color: #f5f5f7;
    text-decoration: none;
    display: block;
    padding: 0;
    margin-top: 3px;
    position: relative;
    z-index: 1;
}
.chapternav-item-iphone-12-pro .chapternav-icon{
    background-size: 37px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/iphone_12_pro_dark__c1xodf0hb1w2_large.svg");
    width: 37px;
}
.chapternav-icon{
    background: center bottom no-repeat;
    display: block;
    margin: 0 auto 7px;
    height: 54px;
}
.chapternav-item-iphone-12 .chapternav-icon{
    background-size: 36px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/iphone_12_dark__d7asodlag7e6_large.svg");
    width: 36px;
}
.chapternav-item-iphone-se .chapternav-icon{
    background-size: 19px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/iphone_se_dark__b1b8q1iya5o2_large.svg");
    width: 19px;
}
.chapternav-item-iphone-11 .chapternav-icon{
    background-size: 22px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/iphone_11_dark__di5n0jory1me_large.svg");
    width: 22px;
}
.chapternav-item-iphone-xr .chapternav-icon{
    background-size: 22px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/iphone_xr_dark__ft3blnh7c6q2_large.svg");
    width: 22px;
}
.chapternav-item-airpods .chapternav-icon{
background-size: 27px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/iphone_airpods_dark__7rlhc1y4jc2m_large.svg");
    width: 27px;
}
.chapternav-item-airtag .chapternav-icon{
    background-size: 30px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/airtag_dark__c6tern0u2pme_large.svg");
    width: 30px;
}
.chapternav-item-accessories .chapternav-icon{
    background-size: 35px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/az/images/chapternav/iphone_acc_dark__g5kvwtvsk2qa_large.svg");
    width: 35px;
}