.chapternav1{
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    height: 100px;
    z-index: 9987;
    width: 100%;
    position: relative;
    overflow: hidden;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(245,245,247,0.6);
}
.chapternav-wrapper{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
    position: relative;
    height: 100%;
    z-index: 1;
}
.chapternav-items{
    padding-bottom: 49px;
    margin: 0 34px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
}
.chapternav-item1{
    display: inline-block;
    animation: chapternav-slidein 350ms backwards;
    animation-duration: 350ms;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;
    animation-play-state: running;
    animation-name: chapternav-slidein;
    vertical-align: top;
    margin: 0 -.11765em;
    white-space: nowrap;
}
.chapternav-item1:first-child{
    margin-left: 0;
    padding-left: 4px;
}
.chapternav-link{
    color: #f5f5f7;
    text-decoration: none;
    display: block;
    padding: 0;
    margin-top: 3px;
    position: relative;
    z-index: 1;
}
.chapternav-item-mac .chapternav-icon{
    color: white;
    width: 73px;
    height: 54px;
    background-size: 73px 54px;
    background-repeat: no-repeat;
    background-image: url("../image/mac.svg");
}
.chapternav-icon{
    background: center bottom no-repeat;
    display: block;
    margin: 0 auto 7px;
    height: 54px;
}
.chapternav-item-ipad .chapternav-icon{
    background-size: 41px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/ipad/home/bo/images/chapternav/ipadpro_light__eksnhatoqzu6_large.svg");
    width: 41px;
}
.chapternav-item-iphone .chapternav-icon{
    background-size: 37px 54px;
    background-repeat: no-repeat;
    background-image: url("../image/iphone.svg");
    width: 37px;
}
.chapternav-item-watch .chapternav-icon{
    width: 23px;
    height: 54px;
    background-size: 23px 54px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/watch/home/am/images/overview/icons/watch_nav_se__en4ntkxi5guq_large.svg");
}
.chapternav-item-tv .chapternav-icon{
    background-size: 69px 54px;
    background-repeat: no-repeat;
    margin: 5px -2em;
    background-image: url("../image/tv.svg");
}

.chapternav-item1 {
    padding: 0px 40px;
}
.chapternav-label1{
    color: black;
}
.heroimg1{
    object-fit: cover;
    width: 1440px;
    height:500px;
    background-size: 1440px 500px;
}
.heroimgs{
    /* top: -500px; */
    width: 1440px;
    height: 400px !important;
 
}
.txt{
    align-items: center;
    justify-content: center;
    /* font-family: 'SamsungSharpSans' !important; */
    display: inline-block;
    font-weight: bold !important;
    font-size: 35px;
    margin-top: 120px;
}
.fold{
    
    display: block;
    text-align: center;
}
.txt2{
    text-align: center;
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* color: #f5f5f7; */
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.txt3{
    /* color: #f5f5f7; */
    text-align: center;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
}
.iphoness{
    text-align: center;
    /* padding-top: 47px; */
    flex-grow: 0;
    z-index: 4;
    pointer-events: none;
    margin-top: var(--global-nav-collective-height);
    position: relative;
}
.heroimg9{
    object-fit: cover;
    box-sizing: border-box;
    position: relative;
    border-style: none;
    overflow: visible;
    border-left-width: 0px;
    border-right-width: 0px;
    box-sizing: border-box; 
   margin-bottom: calc((var(--global-nav-collective-height) + var(--gutter-width)) * -1);
    border-color: var(--gutter-color);
    background-color: var(--gutter-color);
    border-bottom-width: var(--gutter-width);
    height: calc(var(--content-height) + var(--global-nav-collective-height) + var(--gutter-width));
    color: var(--text-color);
    background-color: var(--background-color);
    padding-top: var(--global-nav-collective-height);
    height: calc(var(--content-height) + var(--global-nav-collective-height));
    width: 1440px;
    height: 587px;
    background-size: 1440px 587px;
    background-repeat: no-repeat;
    z-index: 1;
    left: calc(50% + 0px);
    transform: translatex(-50%);
}